.creative-project {
    position: relative;
    overflow: hidden;
    height: 100vh; 
  }
  
  .creative-project img {
      position: absolute;
      top: 50%; /* Vertically center the image */
      left: 50%; /* Horizontally center the image */
      transform: translate(-50%, -50%); /* Offset the image to truly center it */
      width: 40vw; 
      height: 80vh; 
      object-fit: cover;
      transform-origin: center center;
      transition: transform 1.5s ease-in-out;
      z-index: 20;
    }
    
  
  .creative-project .text-center {
    z-index: 10; 
    opacity: 0; 
  }
  
  @media (max-width: 768px) {
    .creative-project img {
      width: 100%;
      height: auto;
    }
  }