
.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }
  
  .image-slider {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: scroll 20s linear infinite;
  }
  
  .image-slider img {
    width: 120px;
    height: auto;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(19%) sepia(99%) saturate(7497%) hue-rotate(-5deg) brightness(93%) contrast(119%);
  }
  
  
  
  /* Infinite scroll animation */
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
