
.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }
  
  .image-slider {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: scroll 20s linear infinite;
  }
  
  .image-slider img {
    width: 120px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%) brightness(90%) contrast(80%);
}


  
  
  
  /* Infinite scroll animation */
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
